@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #fcfaf7;
}

header {
    width: 100%;
    margin: 0 auto;
    position: inherit;
}

p {
    margin-bottom: 2%;
    margin-left: 2%;
}

br {
    margin-bottom: 15px;
    margin-left: 45px;
}

/* heading and logo*/

h1, h2 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 2em;
    line-height: 0%;
    color: #571B22;
    margin-bottom: 37.5px;
}


#logo {
    float: left;
    font-size: 280%;
    margin-top: 1%;
    margin-left: 4%;
    color: #fcfaf7;
}

/* navigation links*/

#menu {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fcfaf7;
}

#menu, #logo {
    line-height: 37.5px;
    background-color: transparent;
    text-shadow: 2px 2px #3a3a3a;
    position: relative;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-top: 1%;
    margin-right: 4%;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
} 

/* Main image */

#main-image {
    height: 40em;
    width: 100%;
    background: url("../images/home-main-image.jpg") no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#cover-text h2 {
    font-size: 8em;
    font-family: 'Robot', sans-serif;
    font-weight: 900;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
    color: #fcfaf7;
    text-shadow: 3px 3px #3a3a3a;

    width: 500px;
    height: 300px;

    left: 33%;
    top: 9.84375rem;

    margin: 0 auto;
    padding: 0;
    position: absolute;
}

/* about */
#about {
    width: 50%;
    padding-top: 4%;
    margin-left: 4%;
    margin: 0 auto;
    position: relative;
}

/* time-and-location */

#time-and-location {
    width: 50%;
    height: 11.2em;
    padding-top: 4%;
    margin: 0 auto;
    position: relative;
}

#left-time-and-location {
    width: 50%;
    float: left;
}

#right-time-and-location {
    width: 50%;
    float: right;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    margin: 2%;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 3em;
    padding: 2%;
    color: #571B22; 
}

#author {
    text-align: center;
    padding-top: 4%;
    display: block;
}